{% extends 'main.html'%}
{% load bootstrap %}
{% block tilt %} Films form {% endblock %}
{% block site %}
    <div class="card" style="width: 26rem;">
      <div class="card-body">
        <h5 class="card-title">Film Form</h5>
            <i class="fas fa-user-tie"></i>
              <form method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  {{ film_form|bootstrap }}
                  {{ extra_form|bootstrap }}
                  {% if new %}
                    <button type="submit">add film</button>
                  {% else %}
                    <button type="submit">edit film</button>
                  {% endif %}
              </form>
          {% for rate in rating %}
            <h4> fan rating: {{rate.personal_rating}} </h4>
            <p> {{rate.personal_review}} </p>
          {% endfor %}
          <a href='{% url "homepage"%}'>Home</a>
      </div>
    </div>
{% endblock %}