{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Films</title>
    <link rel="stylesheet" href="{% static 'blue_style.css' %}">
</head>
<body>
    {% if films|length == 0 %}
        <h2>film list is empty</h2>
    {% else %}
        <h2>films list</h2>
        {% for film in films %}
            <p>{{ film.title }}</p>
            <a href='{% url "edit_film" film.id %}'>Edit</a>
            <a href='{% url "delete_film" film.id %}'>Delete</a>
        {% endfor %}
        <h2>film count in database: {{ films|length }} </h2>
    {% endif %}
    <a href='{% url "new_film"%}'>Add New Film</a>
</body>
</html>