{% extends 'main.html'%}
{% block tilt %} Films list {% endblock %}
{% block site %}
    <br>
    {% if films|length == 0 %}
        <h2>film list is empty</h2>
    {% else %}
        <h2>films list</h2>
        {% for film in films %}
            <div class="card" style="width: 26rem;">
              <div class="card-body">
                <img style="width:170px; float: left" src="/media/{{film.poster}}">
                <div class="row">
                    <div class="col-9">
                        <h5 class="card-title">{{ film.title }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ film.imbd_rating }}</h6>
                        <p class="card-text"> {{ film.review }} </p>
                    </div>
                    <div class="col-3">
                        <a href='{% url "edit_film" film.id %}'><i class="fas fa-2x fa-edit"></i></a>
                        <a href='{% url "delete_film" film.id %}'><i class="fas fa-2x fa-trash-alt"></i></a>
                    </div>

                </div>
              </div>
            </div>

        {% endfor %}
        <h2>film count in database: {{ films|length }} </h2>
    {% endif %}
    <a href='{% url "new_film"%}'>
        <button type="button" class="btn btn-outline-dark me-2"><i class="fas fa-plus-square"></i> Add New Film </button>
    </a>
{% endblock %}